# Server Configurations
nginx.conf

# Dependencies
node_modules/
# dist/
dist-ssr/
*.local
android/
.capacitor/

# Tech-specific
.env
.env.*
!.env.example

deploy.sh

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo


# Documentation
docs/
site/

# Tests
tests/
test-results/
